.welcome.message-icon {
    width: 17px;
    height: 17px;
}

.beta-testers li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.no-border {
    border: none !important;
}

.home.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home.container {
    width: 100%;
    max-width: 1500px;
}

/* .home.body > *:not(.nav) {
    padding-left: 40px;
    padding-right: 40px;
} */

.home.section-centered {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home.s1-header {
    font-family: Poppins, sans-serif;
    font-size: 2em;
    font-weight: 600;
}

.home.s1-sub-header {
    margin-top: 10px;
    font-family: Poppins, sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #ffa801;
}

.home.s1-desc {
    font-family: Poppins, sans-serif;
    font-size: 1.1em;
    margin-top: 20px;
    color: rgb(120,120,120);
}

.home.s1-btn-group {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.home.feat-btn {
    padding: 20px 40px;
    font-family: Poppins, sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.home.s1-b1 {
    color: #fff;
    background-color: #ffa801;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.1);
}

.home.s1-b1:hover {
    background-color: #e67e22;
}

.home.s1-b2 {
    color: #ffa801;
}

.home.s1-b2:hover {
    color: #e67e22;
}

.home.s1-img {
    width: 500px;
    height: 371px;
}

.home.s2-img {
    width: 500px;
    /* height: 371px; */
}

.home.feat-header1 {
    font-family: Poppins, sans-serif;
    font-size: 1.75em;
    font-weight: 600;
    color: #ffa801;
}

.home.feat-header2 {
    font-family: Poppins, sans-serif;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.1em;
    margin-top: 20px;
}

.home.feat-header3 {
    font-family: Poppins, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.1em;
    margin-top: 40px;
    color: #3c3c3c;
}

.home.feat-body {
    font-family: Poppins, sans-serif;
    font-size: 1.1em;
    margin-top: 10px;
    color: rgb(120,120,120);
}

.home.feat-table-parent {
    display: flex;
    justify-content: center;
}

.home.feat-table-md {
    width: 580px;
}

.home.feat-table-xs {
    width: 300px;
}

.home.feat-table-data {
    width: 275px;
    height: 120px;
    vertical-align: middle;
    text-align: center;
    /* background-color: #f8faff; */
    padding: 1px;
}

.home.feat-table-data div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f8faff;
    margin: 2px;
}

.home.feat-table-img {
    /* height: 60px; */
}

.home.s4-parent {
    flex-direction: column;
    padding: 80px 0;
}

.home.s4-b1 {
    color: #fff;
    background-color: #ffa801;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.1);
    margin-top: 50px;
}

.home.s4-b1:hover {
    background-color: #e67e22;
}

.pricing-page.se-section {
    width: 100%;
}

.nav.body {
    display: table;
    width: 100%;
    max-width: 1200px;
    padding: 22px 0 15px 0;
    user-select: none;
    -webkit-user-select: none;
    /* padding-left: 0;
    padding-right: 0; */
}

.nav.body > div {
    display: table-row;
}

.nav.body > div > * {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.nav.logo-parent {
    padding-left: 50px;
}

.nav.logo {
    width: 125px;
}

.nav.right {
    text-align: right;
    padding-right: 50px;
}

.nav.login-group {
    margin-top: 10px;
}

.nav.login-group > a {
    display: inline-table;
}

.nav.login-group > div {
    display: inline-table;
}

.nav.login-btn {
    padding: 7px 40px 7px 40px;
    color: #ffa801;
    font-family: Poppins, sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}

.nav.login-btn:hover {
    color: #e67e22;
}

.nav.login-msg {
    font-size: 1.2em;
    font-family: Poppins, sans-serif;
    padding: 7px 0 7px 40px;
}

.login-name {
    margin-left: 2px;
    font-weight: 600;
}

.nav.signup-btn {
    padding: 15px 40px 15px 40px;
    margin-left: 10px;
    color: #FFF;
    background-color: #ffa801;
    font-family: Poppins, sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    /* border-radius: 4px; */
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.1);
}

.nav.signup-btn:hover {
    background-color: #e67e22;
}

.nav-links.body {
    display: flex;
    align-items: center;
    padding: 0 40px 0px 40px;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 5px;
    user-select: none;
    -webkit-user-select: none;
}

.nav-links.link-btn {
    display: flex;
    align-items: center;
    /* margin-left: 40px; */
    height: 40px;
    padding: 0 20px;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    cursor: pointer;
    color: #2b2c2d;
}

.nav-links.link-btn:visited {
    color: #2b2c2d;
}

.nav-links.link-btn:hover {
    color: #000;
    font-weight: 600;
}

.nav-links.vert-separator {
    width: 1px;
    height: 20px;
    background-color: rgb(220,220,220);
}

.nav-links.separator {
    width: 100%;
    border-top: 1px solid rgb(220,220,220);
}

.nav-links.btn-icon {
    width: 21px;
    margin-right: 10px;
    color: rgb(50,50,50);
}

.nav-links.dropdown-parent {
    position: absolute;
    height: 0;
    top: 135px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid rgb(220,220,220);
}

.nav-links.dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #fff;
    z-index: 1;
    font-size: 1.3em;
    /* border-bottom: 1px solid rgb(220,220,220); */
    padding-bottom: 10px;
}

.nav-links.dropdown > .link-btn
{
    height: 50px;
    padding-left: 30px;
}

.dropdown-anim {
    height: 261px !important;
    transition: height 0.3s ease;
}

.banner.body {
    width: 100%;
    overflow: hidden;
    /* box-shadow: inset 0px 11px 8px -8px rgb(243, 156, 18,0.07),
    inset 0px -11px 8px -8px rgb(243, 156, 18, 0.07); */
    border-bottom: 1px solid rgb(220,220,220);
}

.banner.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2b2c2d;
    height: 175px;
}

.banner.title.small {
    height: 100px;
}

.banner.inner {
    width: 100%;
    max-width: 1200px;
    padding: 0 40px 0px 40px;
    line-height: 1.2em;
    font-size: 3em;
    font-weight: 700;
    font-family: Poppins, sans-serif;
}

.banner.title.small > .inner {
    font-size: 2em;
}

#features-banner {
    border-bottom: none;
}

.cat-strategies.body {
    width: 100%;
    max-width: 1000px;
    margin: 60px 0;
    /* margin: 30px; */
    /* padding: 60px 40px; */
}

.cat-strategies.header-body {
    display: flex;
    align-items: baseline;
}

.cat-strategies.header-body > span {
    margin-left: 20px;
    font-size: 1.1em;
}

.cat-strategies.header {
    font-family: Poppins, sans-serif;
    font-size: 2.0em;
    font-weight: 500;
}

.cat-strategies.table {
    display: table;
}

.cat-strategies.item {
    position: relative;
    display: table-row;
    width: 100%;
}

.cat-strategies.item > * {
    display: table-cell;
    vertical-align: middle;
}

.cat-strategies.item > * > * {
    display: inline-table;
    vertical-align: middle;
}

.cat-strategies.icon {
    width: 75px;
    height: 75px;
}

.cat-strategies.item-header-group {
    display: flex;
    align-items: center;
    color: #000;
    width: 350px;
    height: 105px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
}

.cat-strategies.item-header {
    font-family: Poppins, sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

.cat-strategies.stat-group {
    overflow: hidden;
    white-space: nowrap;
}

.cat-strategies.stat-group > div {
    display: flex;
    align-items: center;
}

.cat-strategies.stat-group > div > div {
    margin-left: 30px;
    margin-right: 30px;
}

.cat-strategies.stat-header {
    margin-bottom: 2px;
    font-family: Poppins, sans-serif;
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
}

.cat-strategies.stat-body {
    margin-top: 2px;
    font-size: 1.75em;
    font-weight: 500;
    text-align: center;
}

.light-footer {
    width: 100%;
}

.footer-bottom a {
    text-decoration: underline !important;
}

.cat-strategies.btn-group {
    text-align: right;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
}

.cat-strategies.btn-group > div {
    display: inline-table;
}

.cat-strategies.cat-btn {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 10px;
    color: rgb(50,50,50);
}

.cat-strategies.cat-btn.add {
    color: #e67e22;
}

.cat-strategies.cat-btn-parent {
    align-items: center;
    cursor: pointer;
}

.cat-strategies.cat-btn-parent > * {
    pointer-events: none;
}

.cat-strategies.cat-btn-parent.disabled {
    cursor: default;
}

.cat-strategies.cat-btn-parent.disabled .add {
    color: rgb(180,180,180);
}

.cat-strategies.cat-btn-parent.disabled span {
    color: rgb(180,180,180);
}

.cat-strategies.cat-btn-parent:hover .anim-text {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    width:0px;
    animation: reveal 0s forwards;
}

.cat-strategies.anim-text {
    display: none;
}

.cat-strategies.anim-text span {
    margin-left:-100px;
    animation: slidein 0.7s forwards;
    font-size: 1.0em;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    color: #000;
}

.cat-strategies.title {
    margin-left: 30px;
    margin-right: 30px;
}

.cat-strategies.strategy-label {
    margin-top: 1px;
}

.cat-strategies.strategy-label > span {
    padding: 2px 10px 2px 10px;
    color: #fff;
    background-color: #eb4d4b;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    border-radius: 5px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.home.banner-img {
    position: relative;
    width: 100%;
    /* max-width: 1000px; */
    height: 500px;
    overflow: hidden;
    /* box-shadow: inset 0 0 10px rgb(0,0,0,1.0); */
    overflow: hidden;
}

.home.banner-img > div img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.home.banner-img > div.opaque img {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

.home.banner-img-main {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    /* min-width: 100%; */
    max-width: 1920px;
    /* max-width: 1100px; */
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.home.banner-img-background {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    filter: blur(1.5em);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.home.banner-img-shadow {
    position: absolute;
    left: 0;
    right: 5%;
    width: 110%;
    height: 100%;
    /* box-shadow: inset 0 0 10px rgb(0,0,0,1.0); */
    box-shadow: inset 0px 20px 8px -8px rgb(0, 0, 0, 0.08),
    inset 0px -20px 8px -8px rgb(0, 0, 0, 0.08);
    z-index: 10;
}

.promo.banner-img {
    position: relative;
    width: 100%;
    /* max-width: 1000px; */
    height: 500px;
    overflow: hidden;
    border-bottom: 3px solid #2d3436;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
    overflow: hidden;
}

.promo.banner-img > div img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.promo.banner-img > div.opaque img {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

.promo.banner-img-main {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    /* min-width: 100%; */
    max-width: 1920px;
    /* max-width: 1100px; */
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.promo.banner-img-background {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    filter: blur(1.5em);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.promo.graph-header-parent {
    margin-bottom: 30px;
}

.promo.graph-header {
    font-family: Poppins, sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 30px;
}

.promo.graph-sub-header {
    font-family: Poppins, sans-serif;
    font-size: 0.9em;
    font-weight: 500;
    margin-left: 10px;
}

.promo.header-group {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.promo.header-label-parent {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.promo.header-label {
    display: flex;
    align-items: center;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 40px;
    /* height: 100%; */
    padding-top: 5px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;    
}

.promo.header-label > .header-label-group {
    position: relative;
    display: flex;
    align-items: center;
}

.promo.header-label > .header-label-group div {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.promo.header-label > .header-label-group a {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: #fff;
}

.promo.header-label > .header-label-group a.visited {
    color: #fff;
}

.promo.header-label > .header-label-group a.hover {
    color: #fff;
}

.promo.header-label > .header-label-group a.active {
    color: #fff;
}

.promo.header-label .title {
    font-size: 2em;
}

.promo.header-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #2d3436;
}

.promo.header-shadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 5px);
    box-shadow: 0 0 5px rgb(0,0,0,0.5);
    margin-bottom: 5px;
}

.promo.header-icon {
    width: 18px;
    height: 18px;
    margin-right: 7px;
}

.promo.results-table-parent {
    margin-top: 20px
}

.promo.results-table {
    font-size: 1.2em;
}

.promo.results-table td {
    height: 50px;
}

.promo.results-table .stat-type {
    font-weight: 500;
}

.promo.results-table .stat-type-small {
    font-size: 0.8em;
}

.promo.results-table .stat-value {
    text-align: right;
}

.promo.calc-result {
    margin-top: 20px;
    font-family: Poppins, sans-serif;
    font-size: 1.5em;
}

.feature-desc > div {
    margin-top: 20px;
}

.feature-desc ul {
    margin-left: 20px;
}

.feature-desc li {
    margin-top: 20px;
    list-style-type: disc;
}

@keyframes slidein {
    0% { margin-left:-200px; }
    20% { margin-left:-200px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:auto;}
    100% {width:auto;}
}

#first-section {
    border-top: 1px solid #ececec;
}

/* @media only screen and (min-width: 1025px)
{
    .nav.body {
        max-width: 1200px;
    }
} */

.strategies.body {
    width: 100%;
    max-width: 1000px;
    padding: 20px 60px 80px 60px;
}

.general-info.body {
    width: 100%;
    max-width: 1200px;
    padding-top: 50px;
}

.general-info.header {
    padding-left: 50px;
    padding-bottom: 30px;
    color: #2b2c2d;
    font-family: Poppins, sans-serif;
    font-size: 2.0em;
    font-weight: 600;
}

.general-info.item {
    font-size: 1.1em;
    font-family: Poppins, sans-serif;
}

.general-info.item p {
    margin-bottom: 15px;
}

.general-info.item strong {
    font-weight: 600;
}

.general-info.item.legal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-bottom: 50px;
}

.general-info.item.legal li {
    margin-left: 30px;
    margin-bottom: 20px;
    list-style-type : disc;
}

.graph.background {
    position: relative;
}

.cat-strategies.stat-group .graph.body {
    position: absolute;
    top: 10px;
}

.pricing.parent {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pricing.parent > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing.body {
    width: 350px;
    max-width: 350px;
    /* height: 600px; */
    box-shadow: 0 0 20px rgb(0,0,0,0.3);
    /* border: 1px solid #2d3436; */
    background-color: #fff;
    color: #2d3436;
    margin-left: 20px;
    margin-right: 20px;
}

.pricing.header-group {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;
    height: 170px;
    color: #fff;
    background-color: #0984e3;
}

.pricing.header-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 75px;
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 5px solid #fff;
    background-color: #0984e3;
    border-radius: 100%;
}

.pricing.header-notice {
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 1.25em;
    font-family: Poppins, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: #0868b1;
}

.pricing.header-notice.black {
    background-color: #2d3436;
}

.pricing.title-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70px;
    margin-top: 5px;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.pricing.title {
    font-size: 1.75em;
}

.pricing.subtitle {
    font-size: 1.0em;
}

.pricing.price-group {
    display: flex;
    align-items: baseline;
    justify-content: center;
    /* margin-top: 20px; */
}

.pricing.price {
    line-height: 1.1em;
    font-size: 2.5em;
    font-family: Poppins, sans-serif;
    text-align: center;
}

.pricing.price-small {
    font-size: 1.5em;
    line-height: 1.1em;
    text-align: center;
}

.pricing.price-currency {
    margin-left: 5px;
    font-size: 1.25em;
    font-family: Poppins, sans-serif;
}

.pricing.price-period {
    font-size: 1.0em;
    font-family: Poppins, sans-serif;
}

.pricing.features-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
}

.pricing.features-group > div {
    width: 90%;
    min-height: 56px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Poppins, sans-serif;
    font-size: 0.9em;
    text-align: center;
    border-bottom: 1px solid rgb(220,220,220);
}

.pricing.purchase-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.pricing.purchase-btn {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 1.5em;
}

.pricing.purchase-btn a {
    color: #000;
}

.pricing.purchase-btn a.visited {
    color: #000;
}

.pricing.purchase-group:hover {
    background-color: #0984e3;
    color: #fff;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.pricing.purchase-group:hover a {
    color: #fff;
}

.pricing.compute-table-parent {
    margin-top: 30px;
    padding: 0 20px;
    font-family: Poppins, sans-serif;
}

.pricing.compute-table thead {
    border-bottom: 1px solid rgb(120,120,120);
    font-weight: 600;
}

.pricing.compute-table tbody tr {
    border-bottom: 1px solid rgb(240,240,240);
}

.pricing.compute-table tbody td {
    padding: 12px 13px;
}

.getting-started.body h1 {
    margin-bottom: 30px;
}

.getting-started.body *:not(h1) {
    font-size: 12pt;
}

.getting-started.body ol {
    list-style-type: lower-alpha;
}

.getting-started.body ol li {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.getting-started.body ul {
    list-style-type: disc;
}

.getting-started.body ul li {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.checkout-parent {
    display: flex;
    /* width: 100%; */
    max-width: 1100px;
}

.checkout.payment-details {
    flex: 0 0 60%;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.checkout.summary {
    flex: 0 0 40%;
    margin: 90px 0 50px 0;
}

.checkout.summary > div {
    background-color: rgb(253, 246, 241);
    padding: 10px 20px;
    margin-right: 100px;
    /* width: 50%; */
    border-radius: 4px;
}

.checkout .field {
    padding: 0;
}

.checkout .field-group > .field:nth-child(1) {
    padding-right: 10px;
}

.checkout .field-group > .field:nth-child(2) {
    padding-left: 10px;
}

.checkout .sub-field-group {
    display: flex;
}

.checkout .sub-field-group > div:nth-child(1) {
    flex: 0 0 50%;
    padding-right: 4px;
}

.checkout .sub-field-group > div:nth-child(2) {
    flex: 0 0 50%;
    padding-left: 4px;
}

.checkout .field > div {
    display: flex;
    align-items: center;
}

.checkout label {
    color: rgb(120,120,120);
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

.checkout input {
    border-radius: 4px;
    padding: 10px 15px;
}

.checkout select {
    width: 100%;
    height: 47px;
    padding: 10px 15px;
    border-color: #ececec;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.checkout select:hover {
    border-color: #d3d3d3;
}

.checkout.payment-details .checkbox-group {
    display: flex;
    margin-top: 20px;
}

.checkout.payment-details .checkbox-group .checkbox {
    flex: 1 0 auto;
}

.checkout.summary .s1, .checkout.summary .s2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-family: Poppins, sans-serif;
}

.checkout.summary .s1 {
    border-bottom: 1px solid rgb(228, 221, 219);
}

.checkout.summary .s1-price {
    font-weight: 600;
}

.checkout.summary .s2-header {
    font-size: 1.3em;
}

.checkout.summary .sub-header {
    font-size: 0.85em;
}

.checkout.summary .s2-price {
    font-size: 1.3em;
    font-weight: 600;
}

.checkout.summary .s3-btn {
    width: 100%;
    padding: 12px 0;
    margin-bottom: 10px;
    color: #fff;
    background-color: #ffa801;
    font-family: Poppins, sans-serif;
    font-size: 1.0em;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.checkout.summary .s3-btn:hover {
    border: none;
    background-color: #e67e22;
    transition: background-color 0.4s ease;
}

section.checkout-result {
    border: none;
}

.checkout-result.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 125px 0;
}

.checkout-result.success-icon {
    width: 100px;
    height: 100px;
    color: #2ecc71;
}

.checkout-result.failed-icon {
    width: 100px;
    height: 100px;
    color: #e74c3c;
}

.checkout-result.header {
    margin-top: 20px;
    font-family: Poppins, sans-serif;
    font-size: 3em;
}

.checkout-result.sub-header {
    margin-top: 20px;
    font-family: Poppins, sans-serif;
    font-size: 1.1em;
    text-align: center;
}

#pricing-black .pricing.purchase-group:hover {
    background-color: #2d3436;
}

#pricing-orange .pricing.purchase-group:hover {
    background-color: #f7a50e;
}

#features-separator {
    margin-top: 60px;
}

#faq-body {
    padding-top: 0;
}

#faq-body ul {
    list-style-type: disc;
}

#faq-body li {
    margin-left: 20px;
    margin-top: 5px;
}

#faq-contents {
    max-width: 1200px;
}

#faq-contents > div {
    padding-left: 10px;
    
}

#faq-contents > div > .header {
    margin: 0;
    padding-left: 0;
    padding-bottom: 30px;
    font-size: 1.75em;
}

#faq-contents > div ul {
    padding-left: 50px;
}

#faq-contents > div li {
    padding-bottom: 10px;
}

#hg-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    user-select: none;
    -webkit-user-select: none;
    box-shadow: inset 0px 11px 8px -8px rgb(243, 156, 18,0.07),
    inset 0px -11px 8px -8px rgb(243, 156, 18, 0.07);
}

#hg-banner > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hg-banner > div > div {
    position: relative;
    /* display: flex;
    align-items: baseline; */
}

#hg-title-1 {
    align-items: baseline;
    font-size: 3.5em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#hg-title-2 {
    display: flex;
    align-items: baseline;
    margin-left: 20px;
    color: #e74c3c;
    font-size: 5.5em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hg-title-group-vert {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hg-title-1-vert {
    position: absolute;
    bottom: 22px;
    align-items: baseline;
    font-size: 2.5em;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#hg-title-2-vert {
    position: absolute;
    display: flex;
    align-items: baseline;
    color: #e74c3c;
    font-size: 4.0em;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#hg-btn-group-vert {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#hg-btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    top: 35px;
    right: 40px;
    width: 280px;
    height: 50px;
    background-color: #f39c12;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

#hg-btn-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    top: 35px;
    left: 0px;
    width: 190px;
    height: 50px;
    background-color: #2c3e50;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

#hg-btn-1-vert {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    top: 25px;
    width: 280px;
    height: 50px;
    background-color: #f39c12;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

#hg-btn-2-vert {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
    font-family: Poppins, sans-serif;
    top: 35px;
    width: 190px;
    height: 50px;
    background-color: #2c3e50;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}

#resulting_bank {
    color: #27ae60;
}

#gpr_info {
    font-size: 0.8em;
}

#gpr_info_asterisks {
    font-size: 1.3em;
    font-weight: 700;
}

#pricing_footnote {
    font-size: 0.9em;
}

#add_to_dashboard > *{
    pointer-events: none;
}

@media screen and (max-width : 1200px)
{
    .pricing-page.parent {
        /* display: block; */
        flex-direction: column;
    }

    .pricing-page.body {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }
}

@media screen and (max-width : 992px)
{
    .home.s1-parent {
        flex-direction: column;
        justify-content: center;
    }

    .home.s2-parent {
        flex-direction: column;
        justify-content: center;
    }

    .home.s3-parent {
        flex-direction: column;
        justify-content: center;
    }

    .home.s1-img {
        margin-top: 50px;
    }

    .home.s2-img {
        margin-top: 50px;
    }

    .home.s3-body1 {
        margin-top: 50px;
    }

    .cat-strategies.item {
        height: 30px;
    }

    .cat-strategies.item-header-group {
        max-width: calc(50vw - 18px);
    }

    .cat-strategies.stat-group {
        max-width: calc(50vw - 18px);
    }

    .cat-strategies.title {
        margin-left: 15px;
        margin-right: 15px;
    }

    .cat-strategies.stat {
        margin-left: 10px;
        margin-right: 10px;
    }

    .cat-strategies.btn-group {
        position: absolute;
        display: flex !important;
        align-items: center;
        width: calc(100vw - 80px);
        text-align: left;
        margin-top: 2px;
    }

    .cat-strategies.cat-btn-parent {
        display: flex !important;
        align-items: center;
        margin-right: 20px;
    }

    .cat-strategies.cat-btn-parent:hover span {
        font-weight: 600;
    }

    .cat-strategies.anim-text {
        display: block;
    }

    .cat-strategies.anim-text span {
        margin-left: 0;
        animation: none;
    }

    .checkout-parent {
        flex-direction: column;
    }

    .checkout.payment-details {
        padding-left: 20px;
        margin-bottom: 30px;
    }

    .checkout.summary {
        margin-top: 30px;
    }

    .checkout.summary > div {
        margin-right: 0;
    }
}

@media screen and (max-width : 768px)
{
    .home.body > *:not(.nav) {
        padding-left: 18px;
        padding-right: 18px;
    }

    .pricing.parent {
        /* display: block; */
        flex-direction: column;
    }

    .pricing.body {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .nav.logo-parent {
        padding-left: 18px;
    }

    .nav.right {
        min-width: 220px !important;
        padding-right: 18px;
    }

    .nav.login-group > a {
        height: 35px;
        padding: 8px 20px;
    }

    .nav-links.btn-icon {
        width: 25px;
        color: #2c3e50;
    }

    .nav-links.link-btn {
        padding-left: 10px;
    }

    .nav.login-msg {
        padding-left: 0;
    }

    .banner.inner {
        padding-left: 20px;
        font-size: 2em;
    }

    .cat-strategies.stat-group > div > div {
        margin-left: 10px;
        margin-right: 10px;
    }

    .cat-strategies.stat-group .graph.background {
        max-width: 125px;
    }

    #hg-title-1 {
        font-size: 2.2em;
    }

    #hg-title-2 {
        font-size: 4.0em;
        margin-left: 10px;
    }

    #hg-btn-1 {
        width: 200px;
        font-size: 1.3em;
        right: 10px;
    }

    #hg-btn-2 {
        width: 150px;
        font-size: 1.3em;
    }
}

@media screen and (max-width : 576px)
{
    html, body {
        overflow-x: hidden;
    }

    .nav.logo-parent {
        padding-left: 0;
    }

    .nav.right {
        min-width: 220px !important;
        padding-right: 5px;
    }

    .home.s1-sub-header {
        font-size: 1.75em;
    }

    .home.s1-img {
        width: 275px;
        height: 200px;
    }

    .home.s2-img {
        width: 275px;
        height: 200px;
    }

    .cat-strategies.icon {
        /* display: none; */
    }
    /* .cat-strategies.item {
        text-align: center;
    } */

    .cat-strategies.item-header-group {
        overflow: visible;
    }

    .cat-strategies.item-header {
        font-size: 1.1em;
    }

    .cat-strategies.icon {
        width: 50px;
        height: 50px;
    }

    .cat-strategies.strategy-label {
        font-size: 0.9em;
    }
    
    .cat-strategies.stat-group > div > .stat {
        display: none;
    }

    .cat-strategies.stat-group .graph.body {
        max-width: 120px;
        max-height: 100px;
        left: 20px;
    }

    .home.banner-img {
        height: 200px;
    }

    .promo.banner-img {
        height: 250px;
    }

    .promo.header-label {
        width: 100%;
        left: 0;
    }

    .promo.header-label-group {
        width: 100%;
        justify-content: space-between;
        padding-right: 10px;
    }

    .sm-hide {
        display: none;
    }

    .checkout select {
        padding: 10px 2px;
    }
}

